a {
text-decoration: none;
}

.x1 {
    height: 165px;                                                 
    width: 100%;
    margin-bottom: 100px;
    background-image: url("images/Brazil/P2.jpg");
    background-repeat: no-repeat;
    background-size: 995px 200px;
}
.img {
    float: right;
    margin-right: 80px;
    padding-top: 10px;
    opacity: 0.85;
}
.h1 {
    padding-left: 50px;
    padding-top: 80px;
    font-size: 60px;
    letter-spacing: 10px;
    display: inline;
    color: yellowgreen;
}

.h1:hover {
    color: gold;
    font-size: 60px;
    text-decoration: underline;
}
.nav {
    background-color: yellowgreen;
    opacity: 0.7;
    height: 67px;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}
.a {
    color: black;
    display: inline-block;
    margin-right: 17px;
    font-size: 40px;
    float: right;
    padding: 10px;
    padding-top: 10px;
}
.a:hover {
    font-size: 40px;
    background-color: yellow;

}
.c{
    margin-bottom: 50px;
    border: 4px dashed gold;
}
.p1 {
    font-size: 22px;
}
.p1:hover {
    color: yellowgreen;
}
.x9 {
    margin: 100px;
}
.x2 {
    color: gold;
    padding-left: 40px;
    font-size: 25px;
    padding-bottom: 7px; 
}
.x2:hover {
    color: black;
    background-color: gainsboro;
}
.x3 {
    color: green;
    padding-left: 30px;
}
.x3:hover {
    color: navy;
}
table {
    border: 5px solid black;
    border-collapse: collapse;
    margin-bottom: 150px;
}
th {
    color: white;
    font-size: 25px;
}
td {
    font-size: 25px;
}
td:hover {
    background-color: gold;
}
.v2 {
    color: yellowgreen;
    margin-top: 120px;
    margin-bottom: 30px;
}
.d {
    width: 100%;
    height: 200px;
}
.h4 {
    font-size: 40px;
    margin-left: 40px;
    margin-top: 150px;
}
.h4:hover {
    color: gray;
}
.t1 { 
    padding-left: 100px;
    font-size: 30px;
}
.t1 {
    font-size: 30px;
}
.h3 {
    color: gold;
}
.h3:hover {
    color: lightblue;
    text-decoration: underline;
    font-size: 50px;
}
.h6 {
    color: yellow;
}
.h5 {
    color: green;
}
.h5:hover {
    color: black;
    font-size: 40px;
    text-decoration: underline;
}
.ff{
    font-size: 16px;
}
.ic{
    padding-right: 25px;
}
.t2{
    padding-bottom: 50px;
}
footer {
    background-color: rgb(40,22,111);
    color: white;
    height: 165px;
    font-size: 20px;
    padding-top:60px;
    text-align: center;
}
