*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Herr Von Muellerhoff";
  src: url("Fonts/HerrVonMuellerhoff-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Josefin Sans Regular";
  src: url("Fonts/JosefinSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Josefin Sans Light";
  src: url("Fonts/JosefinSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro Regular";
  src: url("Fonts/SourceSansPro-Regular.ttf") format("truetype");
}

:root {
  --main-font-1: "Josefin Sans Regular", sans-serif;
  --main-font-2: "Josefin Sans Light", sans-serif;
  --secondary-font: "SourceSansPro Regular", sans-serif;
  --main-color: #5f3131;
  --white-pinkish-color: #faf2f7;
  --white-color: #fff;
  --secondry-black: rgba(140, 47, 47, 0.5);
}
.dark {
  --main-color: #000;
  --white-pinkish-color: #63a4d4;
  --white-color: #fff;
  --secondry-black: rgba(69, 93, 88, 0.5);
}
.bl {
  --main-color: #371740;
  --white-pinkish-color: #bba9c1;
  --white-color: #fff;
  --secondry-black: rgba(149, 118, 168, 0.5);
}
.black {
  --main-color: #000;
  --white-pinkish-color: rgb(168, 168, 168);
  --white-color: #000;
  --secondry-black: rgba(255, 255, 255, 0.5);
}

#theme-selector {
  position: relative;
  right: 110px;
  background-color: var(--main-color);
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  margin-top: 4px 2px;
  border-radius: 24px;
}

/* BASIC STYLES */

html {
  color: var(--white-color);
  font-size: 10px;
  font-family: var(--main-font-1);
  scroll-behavior: smooth;
}

body {
  background-color: var(--white-pinkish-color);
}

main img {
  width: 100%;
}

section {
  padding: 8rem 0;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.9rem;
  font-family: var(--main-font-2);
  line-height: 1.5;
  font-weight: 200;
}

ul {
  list-style: none;
}

h2 {
  font-size: 3.5rem;
  margin: 2rem 0;
  line-height: 1.3;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

h4 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

h2,
h4 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

/* BASIC & REUSABLE CLASSES */

.heading-text {
  text-align: center;
  position: relative;
}

.heading-text::after {
  content: "";
  display: block;
  width: 10rem;
  height: 0.2rem;
  background-color: var(--main-color);
  margin: 0 auto;
  margin-top: 3rem;
}

.text-green {
  color: var(--main-color);
}

.text-white {
  color: var(--white-color);
}

.container {
  width: 100%;
  max-width: 120rem;
  padding: 0 2.4rem;
  margin: 0 auto;
}

.container-medium {
  max-width: 110rem;
}

.row {
  display: flex;
  align-items: center;
}

.col-2 {
  margin-bottom: 5rem;
  flex-basis: 50%;
  min-width: 30rem;
}

.col-3 {
  flex-basis: 30%;
  min-width: 25rem;
  margin-bottom: 5rem;
}

.padding-right {
  padding-right: 8rem;
}

.text-box {
  width: 100%;
  max-width: 40rem;
}

.text-box p {
  margin: 4rem 0;
}

/* BUTTONS */

.btn {
  display: inline-block;
  background: transparent;
  border: 0.1rem solid var(--white-color);
  border-radius: 0.2rem;
  cursor: pointer;
  outline: none;
  padding: 2rem 4rem;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  overflow: hidden;
  position: relative;
}

.btn-green {
  color: var(--white-color);
  transition: color 0.5s;
  z-index: 100;
}

.btn-white {
  border: 1px solid var(--main-color);
  color: var(--main-color);
  transition: color 0.5s;
  z-index: 100;
}

.btn-green::before,
.btn-white::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10%;
  width: 0;
  height: 100%;
  transform: skewX(25deg);
  z-index: -1;
  transition: width 0.7s;
}

.btn-green::before {
  background-color: var(--white-color);
}

.btn-white::before {
  background-color: var(--main-color);
}

.btn-green:hover {
  color: var(--main-color);
}

.btn-white:hover {
  color: var(--white-color);
}

.btn-green:hover::before,
.btn-white:hover::before {
  width: 120%;
}

/* HEADER */

header {
  height: 100vh;
}

.nav-item {
  display: inline-flex;
  flex-shrink: 2;
}

.navbar {
  background-color: var(--white-pinkish-color);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  height: 7.5rem;
}

.logo img {
    width: 150px;
    cursor: pointer;
}

.nav-list {
  display: flex;
  margin-right: -1px;
}

.nav-item:not(:last-child) {
  margin-right: 1rem;
}

.nav-link {
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--main-color);
  letter-spacing: 0.1rem;
  padding: 1rem 2rem;
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.2rem;
  width: 100%;
  background-color: rgba(64, 37, 37, 0.5);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}

.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
*/ .dropdown {
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: var(--main-color);
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  position: relative;
  padding-right: 15px;
  background-color: var(--white-pinkish-color);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white-pinkish-color);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: var(--main-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

label {
  display: none;
}

label #open,
label #close {
  color: var(--main-color);
  font-size: 2.2rem;
  line-height: 8rem;
  cursor: pointer;
  display: none;
}

label #close {
  color: var(--white-pinkish-color);
}

#check {
  display: none;
}

.book-btn {
  border: 0.2rem solid transparent;
  background-color: var(--main-color);
  color: var(--white-pinkish-color);
  padding: 1.5rem 3rem;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.book-btn:hover {
  background-color: transparent;
  border: 0.2rem solid var(--main-color);
  color: var(--main-color);
}

.book-btn:hover::before {
  transform: scaleX(0);
}

.hero__text-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hero__text {
  text-transform: uppercase;
  color: var(--white-color);
  font-size: 5.4rem;
  letter-spacing: 0.2rem;
  line-height: 1.4;
  margin-bottom: 5rem;
}

.hero__text span {
  display: block;
}

/* FOOTER SECTION */

footer {
  background-color: var(--main-color);
  font-family: var(--main-font-2);
  padding: 7rem 0 4rem;
  position: relative;
}

.back-to-top {
  text-align: center;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: -3rem;
  left: 50%;
  width: 7rem;
  height: 7rem;
  transform: translateX(-50%);
}

.back-to-top i {
  display: block;
  color: var(--white-color);
  font-size: 2rem;
  padding: 2rem;
  animation-name: showsUp;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.footer__content {
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.social-icons,
.payment-methods {
  margin-top: 2.5rem;
  display: flex;
}

.social-icons i,
.payment-methods i {
  font-size: 2.3rem;
  color: var(--white-color);
  padding: 0.8rem 1rem;
}

.footer__content a:hover {
  opacity: 0.5;
}

/*                    Log In PAGE                   */

.clearfix::after {
  content: "";
  display: table;
  margin-right: 200px;
  clear: both;
}

@-webkit-keyframes bgslide {
  from {
    left: -100%;
    width: 0;
    opacity: 0;
  }
  to {
    left: 0;
    width: 1194px;
    opacity: 1;
  }
}

@keyframes bgslide {
  from {
    left: -100%;
    width: 0;
    opacity: 0;
  }
  to {
    left: 0;
    width: 1194px;
    opacity: 1;
  }
}

.login {
  max-height: 100vh;
  float: left;
  margin: 0 auto;
  width: 300px;
}
.login .container {
  width: 500px;
  left: 550px;
  bottom: 70px;
  display: inline-block;
  margin: 0 auto;
  position: relative;
}
.login .container h1 {
  margin-top: 100px;
  font-size: 35px;
  font-weight: bolder;
  color: var(--main-color);
}
.login .container .login-form {
  margin-top: 112px;
}
.login .container .login-form form {
  display: -ms-grid;
  display: grid;
}
.login .container .login-form form input {
  font-size: 16px;
  font-weight: normal;
  background: rgba(57, 57, 57, 0.07);
  margin: 12.5px 0;
  height: 68px;
  border: none;
  padding: 0 30px;
  border-radius: 10px;
}
.login .container .login-form form button[type="submit"] {
  background-color: var(--main-color);
  border: none;
  margin-top: 124px;
  margin-bottom: 20px;
  width: 241px;
  height: 58px;
  text-transform: uppercase;
  color: var(--white-pinkish-color);
  border-radius: 10px;
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-size: 20px;
}
.login .container .login-form form button[type="submit"]:hover::after {
  opacity: 1;
}
.login .container .login-form form button[type="submit"]::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 10px;
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  right: 0;
  bottom: 0;
  background-color: #cd3939;
}
.login .container .remember-form {
  position: relative;
  margin-top: -30px;
}
.login .container .register {
  color: var(--main-color);
}
.login .container .register a {
  color: var(--main-color);
  font-weight: bold;
}
.login .container .remember-form input[type="checkbox"] {
  margin-top: 9px;
}
.login .container .remember-form span {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  top: 32px;
  color: var(--main-color);
  margin-left: 15px;
}
.login .container .forget-pass {
  position: absolute;
  right: 0;
  margin-top: 189px;
}
.login .container .forget-pass a {
  font-size: 16px;
  position: relative;
  font-weight: normal;
  color: var(--main-color);
}
.login .container .forget-pass a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 100px;
  background-color: var(--main-color);
  bottom: -4px;
  left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  right: 0;
}
.login .container .forget-pass a:hover::after {
  opacity: 1;
}

/*                     CONTACT PAGE                   */

.contact {
  color: var(--main-color);
}

.contact h3 {
  font-family: var(--main-font-2);
}

.contact .col-2:first-child {
  margin-right: 8rem;
}

.contact .col-2 div {
  margin-bottom: 3rem;
}

.contact input,
textarea {
  display: block;
  width: 100%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.18);
  outline: none;
  padding: 1.7rem 1.5rem;
  font-family: var(--main-font-2);
  font-size: 1.8rem;
  margin-bottom: 3rem;
  transition: all 0.5s;
}

textarea {
  resize: none;
  height: 20rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1000px) {
  .nav-item:not(:last-child) {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .nav-item:not(:last-child) {
    margin-right: 0;
  }

  p {
    font-size: 1.7rem;
  }

  label {
    display: block;
  }

  label #open {
    display: block;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1000;
    transition: all 0.5s;
  }

  #check:checked ~ .nav-list {
    left: 0;
  }

  #check:checked ~ label #open {
    display: none;
  }

  #check:checked ~ label #close {
    display: block;
    position: relative;
    z-index: 100000;
  }

  .nav-item {
    display: block;
    margin: 2.5rem 0;
  }

  .nav-link {
    color: var(--white-pinkish-color);
  }

  .book-btn {
    border: 0.2rem solid transparent;
    background-color: transparent;
    transition: all 0.3s;
  }

  .book-btn:hover {
    border: 0.2rem solid var(--white-color);
    color: var(--white-pinkish-color);
    opacity: 1;
  }

  footer .row {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  h2 {
    font-size: 3.2rem;
  }

  .hero__text {
    font-size: 4.8rem;
  }

  .row {
    flex-direction: column;
  }

  .menu-table .col-2:first-child {
    margin-bottom: 0;
  }

  .contact .row {
    align-items: stretch;
  }

  .rooms-list .row {
    flex-direction: row;
  }

  .col-2 {
    padding-right: 0;
  }

  .text-box {
    margin-right: auto;
  }

  .column-reverse {
    flex-direction: column-reverse;
  }

  footer .col-4 {
    margin-bottom: 3rem;
  }

  .footer__content-about h4 {
    text-align: left;
  }

  .contact .col-2:first-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .rooms-list .row {
    flex-direction: column;
  }

  .rooms-list .col-2:not(:last-child) {
    margin-right: 0;
  }
}

/* ANIMATIONS */

@keyframes showsUp {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-1rem);
  }
}
